{% extends 'base.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}
	<h2>¿Esta seguro de Eliminar el Comercio  {{object.nomb_comercio}} de {{object.propietario}}?</h2>
	<br>
	
	<button class="btn btn-danger" type="submit">Eliminar</button>

	<a class="btn btn-default" href="{% url 'administrativos:comercios-list' %}">Cancelar</a>
	
</form>

{% endblock %}