{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
  <!-- bostrap/estilos -->
  <link rel="stylesheet" href="{% static 'adminlte/bootstrap/css/bootstrap2.css' %}">
  <link rel="stylesheet" href="{% static 'adminlte/bootstrap/css/style2.css' %}">
{% endblock %}

{% block section-title %}
  <h3>Comercio</h3>
{% endblock %}



{% block content %}
<div class="white-wrapper">
        <div class="container">
            <div class="general_row">
                <div class="general-title text-center">
                    
                  
                </div>
                <br>
                <div class="row">
                    <div class="clearfix">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <div class="media-element clearfix">
                            <font color="black"><h3><span>{{ object.id }}- Propietario y N° Dni : {{ object.propietario }} , {{ object.dni }}</span></h3></font>
                                
                            </div><!-- end slider -->
                        </div><!-- end col-lg-6 -->

                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <div class="big_team_widget">
                                
                             <div class="doctor-details">
                                     
                                    <ul>
                                        <li><span> Nombre Comercio: </span> - {{ object.nomb_comercio }} </li>
                                        <li><span> Domicilio: </span> - {{ object.domicilio }}</li> 
                                        <li><span>Numeracion: </span> - {{ object.numeracion }}</li>
                                        <li><span>Fecha Solicitud: </span> - {{ object.fecha_soli }} </li>
                                        <li><span>Numero de Expediente: </span> - {{ object.numero_expte }} </li>
                                        <li><span>Rubros: </span>
                                        {% for rubro in comercios.rubro.all %}
                                                 <li>{{ rubro.nomb_rubro }}</li>
                                        {% endfor %}
                                        </li>
                                        
                                        <li><span>Comercio Activo: </span> - {{ object.Activo }}</li>

                                    </ul>
                                </div>
                                
                                
                                     <!-- <h2>Rubros</h2>
                                        <ul>
                                            {% for rubro in comercios.rubro.all %}
                                                 <li>{{ rubro.nomb_rubro }}</li>
                                            {% endfor %}
                                         </ul> -->
                                
                                    
                              </p>
                                <br>
                                <br>
                                <br>

                                <div class="social-icons">
                                    <span class="facebook"><a data-toggle="tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></span>
                                    <span class="google-plus"><a data-toggle="tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></span>
                                    <span class="twitter"><a data-toggle="tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></span>
                                    <span class="linkedin"><a data-toggle="tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a></span>
                                </div><!-- end social icons -->
                            </div><!-- end big_team_widget -->
                        </div><!-- end col-lg-6 -->
                    </div><!-- end fullwidth -->
                </div><!-- end row -->
                
                
            </div><!-- end general_row -->
        </div><!-- end container -->
    </div><!-- end white-wrapper -->

    <!-- <div class="dmtop" style="bottom: 25px; background-color:#23b8bf ">Scroll to Top</div> -->
{% endblock %}