{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block section-title %}
  <h1>Nuevo Comercio</h1>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'administrativos:comercios-list' %}"><i class="fa fa-group"></i> Comercios</a></li>
  <li class="active">Nuevo</li>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Datos del Comercio</h3>
        </div>
        <br>
        <!-- /.box-header -->
      <form action="." method="post" enctype="multipart/form-data">
        <div class="box-body">
        {% csrf_token %}
        {% crispy form %}
        <!-- {{ especialidad_formset.management_form }}
        {{ especialidad_formset.non_form_errors }}
        {% for esp_form in especialidad_formset %}
          {% crispy esp_form esp_form.helper %}
          {% for hidden_field in esp_form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
        {% endfor %} -->
        </div>
        <br>
               <!-- /.box-footer -->
      </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(function () {
      //Initialize Select2 Elements
      $(".select2").select2();
      //Date picker
      // $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
      $('#id_fecha_soli').datepicker({
        autoclose: true,
        format: 'dd/mm/yyyy'
      });
    });
  </script>
{% endblock %}