<div class="btn-group" role="group" style="display: flex !important;">
  <a href="{% url 'administrativos:comercios-detail' record.pk %}" class="btn btn-info btn-xs">Ver</a>
  <a href="{% url 'administrativos:comercios-update' record.pk %}" class="btn btn-warning btn-xs">Editar</a>
  <a href="{% url 'administrativos:comercios-delete' record.pk %}" class="btn btn-danger btn-xs">Eliminar</a>
  <!-- <a href="#" class="btn btn-success btn-xs">Activar</a> -->
</div>
