{% extends 'base.html' %}


{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block head %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock %}

{% block section-title %}
<h1>Inspecciones</h1>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{#}"><i class="fa fa-group"></i>Inspecciones</a></li>
  <li class="active">Inspecciones</li>
{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <a class="btn btn-app" href="{#}">
                <i class="fa fa-user"></i> Nuevo
              </a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              {% render_table table %}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
{% endblock %}

{% block scripts %}
<!-- DataTables -->
<script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<!-- page script -->
<script>
  $(function () {
    $('#inspections').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>
{% endblock %}