{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}SGBromatologia | Administración{% endblock %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{% static 'adminlte/bootstrap/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/datepicker/datepicker3.css' %}">
    <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/select2/select2.min.css' %}">
  <!-- jvectormap -->
  <link rel="stylesheet" href="{% static 'adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'adminlte/dist/css/AdminLTE.min.css' %}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'adminlte/dist/css/skins/skin-green.min.css' %}">

  {% block head %}{% endblock %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">

  {% include 'header.html' %}
  {% include 'left_sidebar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

      {% block section-title %}
      <h1>
        Dashboard
        <small>Versión 1.0</small>
      </h1>
      {% endblock %}

      <ol class="breadcrumb">
        <li><a href="{% url 'admin-index' %}"><i class="fa fa-dashboard"></i> Inicio</a></li>
      {% block breadcrumb %}
        <li class="active">Dashboard</li>
      {% endblock %}
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      {% block content %}{% endblock %}

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% include 'footer.html' %}
  {% include 'control_sidebar.html' %}

</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="{% static 'adminlte/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'adminlte/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'adminlte/plugins/select2/select2.full.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'adminlte/plugins/fastclick/fastclick.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminlte/dist/js/app.min.js' %}"></script>
<!-- SlimScroll 1.3.0 -->
<script src="{% static 'adminlte/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'adminlte/plugins/fastclick/fastclick.min.js' %}"></script>
<!-- bootstrap datepicker -->
<script src="{% static 'adminlte/plugins/datepicker/bootstrap-datepicker.js' %}"></script>

{% block scripts %}{% endblock %}

</body>
</html>
