  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{ user }}</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">MENU PRINCIPAL</li>
        <!-- Optionally, you can add icons to the links -->
        <!-- <li class="treeview">
          <a href="#"><i class="fa fa-book"></i> <span>Turnos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Asignar Turnos</a></li>
            <li><a href="#">Completar Turnos</a></li>
          </ul>
        </li> -->
        {% if perms.inspections.add_InspeccionOcular %}
        <li><a href="{% url 'administrativos:comercios-list' %}"><i class="fa fa-book"></i> <span>Comercios</span></a></li>
        {% endif %}

        {% if perms.inspections.add_InspeccionOcular %}
        <li><a href="{% url 'solicitudes:solicitudes-list' %}"><i class="fa fa-user-md"></i> <span>Solicitudes</span></a></li>
        {% endif %}
      
      
        <li><a href="{% url 'inspections:inspecciones-list' %}"><i class="fa fa-group"></i> <span>Inspecciones Oculares</span></a></li>
      
        
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

