{% extends 'base.html' %}

{% block content %}

  <h2>Inspeccion Bromatologica </h2>

        <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header">
              <i class="fa fa-edit"></i>

              <h3 class="box-title">Menú Principal</h3>
            </div>
            <div class="box-body pad table-responsive">
              
             
            <!-- /.box -->
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- ./row -->
      <div class="row">
        <div class="col-md-6">
         

{% endblock %}