<div class="btn-group" role="group" style="display: flex !important;">
  <a href="{#}" class="btn btn-info btn-xs">Ver</a>
  <a href="{#}" class="btn btn-warning btn-xs">Editar</a>
  <a href="{#}" class="btn btn-danger btn-xs">Eliminar</a>
  <!-- <a href="#" class="btn btn-success btn-xs">Activar</a> -->
</div>
